.message
  .user
    = message.user.name
  .time
    = message.created_at.to_s(:default)
  .text
    - if message.text.present?
      %p.lower-message__text
        = message.text
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?

