#header-top  チャットグループが作成されました
.wrapper
  .side-bar
    .side-bar__header
      .side-bar__header__h3
        %b.user_name ユーザ名
        %ul.side-bar__header__h3__ul
          %li.list
            =link_to '/' do
              =fa_icon 'cog', class: 'cog_icon'
          %li.list
            =link_to '/' do
              =fa_icon 'pencil-square-o', class: 'edit_icon'

    .side-bar__content
      %ul
        %li.group-name  グループ名
        %li.message-text  メッセージ表示
      %ul
        %li.group-name  グループ名
        %li.message-text  メッセージ表示

  .main-bar
    .main-bar__header
      .main-bar__header__h3.group_name  グループ名
      .main-bar__header__members  Members: メンバー名
      .main-bar__header__right-header
        .right-header__btn
          =link_to "Edit", "/", class: "btn"

    .main-bar__content
      .main-bar__content__messages
        %ul.message
          %li.user
            %b  投稿者名
          %li.time  投稿日時
          %li.text  メッセージ
        %ul.message
          %li.user
            %b  投稿者名
          %li.time  投稿日時
          %li.text  sample message sample message sample message

    .main-bar__footer
      %textarea{col: "30", rows: "10", name: "text", placeholder: "type a message"}
      .picture_area
        %i.fa.fa-picture-o.icon
      %input{type: "submit", value: "Send"}
